<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/category/frontEnd.css">
    <title>Document</title>
</head>
<body>
    <div class="title">就业班</div>
    <div class="class">微信小程序</div>
    <div class="raise">提高课</div>
    <ul class="btn_list">
        <li class="list_item">微信小程序</li>
        <li class="list_item">深入探索js</li>
        <li class="list_item">node.js</li>
        <li class="list_item">bootstrap</li>
        <li class="list_item">微信小程序</li>
        <li class="list_item">node.js</li>
        <li class="list_item">bootstrap</li>
        <li class="list_item">深入探索js</li>
        <li class="list_item">node.js</li>
        <li class="list_item">bootstrap</li>
        <li class="list_item">微信小程序</li>
        <li class="list_item">深入探索js</li>
        <li class="list_item">node.js</li>
        <li class="list_item">bootstrap</li>
        <li class="list_item">微信小程序</li>
        <li class="list_item">node.js</li>
    </ul>
</body>
</html>