<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="//at.alicdn.com/t/font_2373252_etpqftbb65c.css">
    <link rel="shortcut icon" href="favicon.ico" />
    <link rel="stylesheet" href="css/index.css">
    <title>博学谷</title>
</head>
<body>
    <div class="container">
        <a href="main.html" class="cn"></a>
        <!-- <iframe name="fm" src="main.html"  frameborder="0" scrolling='no'></iframe> -->
        <div class="main_btn">
            <div class="index">
                <a href="main.html" target="fm">
                   <div class="iconfont icon-sousuo search"></div>
                   <p>首页</p>
                </a>
            </div>
            <div class="category">
                <a href="category.html" target="fm">
                    <div class="iconfont icon-sousuo search"></div>
                    <p>分类</p>
                 </a>
            </div>
        </div>
    </div>
</body>
</html>